a{
    display: block;
    width: 100px;
    background-color: #06266f;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 10pt;
    float: left;
    padding: 10px;
}
a:visited{
    color: white;
}
a:hover{
    background-color: #576689;
}
body{
    background-color: #6c8cd5;
    font-family: Arial;
}
header{
    margin: 10px;
}
img{
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
}
li{
    font-size: 10pt;
}
nav{
    width: 480px;
    margin: auto;
}
p{
    text-align: justify;
    font-size: 10pt;
}
section{
    width: 500px;
    min-height: 200px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
}
table{
    width: 500px;
}
td{
    width: 125px;
}
th{
    background-color: #4671d5;
    color: white;
}
.text{
    background-color: #ffffcc;
    border-radius: 5px;
    width: 150px;
    border: solid black 1px;
}
.button{
    background-color: #8ba3db;
    border-radius: 5px;
    border: solid #1e3977 1px;
    font-size: 12pt;
}